$color_1: #bfbfbf;
$color_2: inherit;
$color_3: rgb(179, 179, 179);
$color_4: rgb(222, 222, 222);
$color_5: #ffffff;
$color_6: #c6c6c6;
$color_7: #fff;
$color_8: #8d8d8d;
$color_9: #fff3;
$color_10: rgba(255, 255, 255, 0.5);
$border-color_1: rgba(255, 255, 255, 0.2);
$border-bottom-color_1: #121619;