@import 'colors';

@font-face {
  font-family: "heading";
  src: url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "text";
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
}

$font-family_1: "text", sans-serif;
$font-family_2: "heading";
$font-family_3: "heading", sans-serif;

.heading_1 {
  font-family: $font-family_2;
  font-size: 12rem;
  font-weight: bold;
  color: $color_3;
}
.heading_2 {
  font-family: $font-family_2;
  font-size: 7rem;
  font-weight: bold;
  color: $color_4;
}
.heading_3 {
  font-family: $font-family_2;
  font-size: 4.8rem;
  font-weight: bold;
  color: $color_5;
}
.section_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //p {
  //  width: 38ch;
  //}
  .btn_2 {
    margin-top: 2rem;
  }
}
