// Imports
//@import 'colors';
@import 'fonts';
@import 'media-queries';
@import 'hamburger-btn';
@import 'buttons';
@import 'intro';
@import 'about';
@import 'stats';
@import 'folio';
@import 'brands';
@import 'footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-family_1;
  font-weight: 500;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
    }
}

body {
  font-size: 1.6rem;
  background: #9f9f9f;
  color: $color_1;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $color_2;
}

main {
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  p {
    font-size: 1.8rem;
    line-height: 1.6;
  }
}

nav {
  background: #15181a;
  .container-xl {
    display: flex;
    align-items: center;
    color: $color_8;
    padding: 2rem 0;
    gap: 3rem;
    position: relative;
  }
  .btn_1 {
    margin-left: auto;
  }
}

.logo {
  margin-right: auto;
  img {
    height: 8rem;
    object-fit: contain;
  }
}

.menu {
  position: relative;
  z-index: 20;
  cursor: pointer;
  img {
    width: 2.8rem;
    object-fit: contain;
    opacity: 0.8;
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    stroke: white;
  }
  .active svg {
    transform: rotate(90deg);
  }
  path {
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  path:nth-child(1) {
    transform-origin: 36% 40%;
  }
  path:nth-child(2) {
    stroke-dasharray: 29 299;
  }
  path:nth-child(3) {
    transform-origin: 35% 63%;
  }
  path:nth-child(4) {
    stroke-dasharray: 29 299;
  }
  path:nth-child(5) {
    transform-origin: 61% 52%;
  }
  path:nth-child(6) {
    transform-origin: 62% 52%;
  }
  .active path:nth-child(1) {
    transform: translateX(9px) translateY(1px) rotate(45deg);
  }
  .active path:nth-child(2) {
    stroke-dasharray: 225 299;
    stroke-dashoffset: -72px;
  }
  .active path:nth-child(3) {
    transform: translateX(9px) translateY(1px) rotate(-45deg);
  }
  .active path:nth-child(4) {
    stroke-dasharray: 225 299;
    stroke-dashoffset: -72px;
  }
  .active path:nth-child(5) {
    transform: translateX(9px) translateY(1px) rotate(-45deg);
  }
  .active path:nth-child(6) {
    transform: translateX(9px) translateY(1px) rotate(45deg);
  }
}

.menu_container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #333638;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transform: translateX(100%);
  transition: 1s ease;
  overflow: hidden;
  a {
    &:not(.btn_1) {
      font-size: 5rem;
      font-weight: bold;
      color: $color_7;
      font-family: $font-family_3;
      display: inline-block !important;
      &:hover {
        color: $color_9;
      }
    }
  }
  .btn_1 {
    margin-left: 0;
    display: inline-block !important;
  }
}

section {
  background: linear-gradient(to right, #1f2327, #35383a);
  padding-block: 10rem;
}
